<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h3>RxJS</h3>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngFor="let category of nav">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ category.label }}
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let link of category.links">
              <a class="dropdown-item" [routerLink]="link.route">{{
                link.label
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet (activate)="changeOfRoutes()"></router-outlet>
